@page
@model PrivacyModel
@{
    ViewData["Title"] = "About This Website";
}
<h1>@ViewData["Title"]</h1>

<p>This Razor Pages Web App can peform the c.r.u.d operations on an SQL DB currently active on Azure.</p>