<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="pubsDBConnectionString" value="Integrated Security=true;Initial Catalog=pubs;Data Source=(local);"/>
    <add key="pubsDBConnectionAzure" value="Server=tcp:sqltestbackendserver.database.windows.net,1433;Initial Catalog=pubsImportedFromLocal;Persist Security Info=False;User ID=azureuser;Password={BackendPass97!};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>
</configuration>